		<br/>
		<div id="buttons">
			<a href="#?page=playlist&action=play" onclick="javascript:playerAction('play');"><img src="images/play-button.png" style="width: 32px;"/></a> 
			<a href="#?page=playlist&action=pause" onclick="javascript:playerAction('pause');"><img src="images/pause.png" style="width: 32px;"/></a>
			<a href="#?page=playlist&action=stop" onclick="javascript:playerAction('stop');"><img src="images/stop.png" style="width: 32px;"/></a>
			<a href="#?page=playlist&action=prev" onclick="javascript:playerAction('prev');"><img src="images/prev.png" style="width: 32px;"/></a>
			<a href="#?page=playlist&action=next" onclick="javascript:playerAction('next');"><img src="images/next.png" style="width: 32px;"/></a>
			<a href="#?page=playlist" onclick="javascript:playerAction('nothing');"><img src="images/refresh.png" style="width: 32px;"/></a>
			<br/>
			<a href="#?page=playlist&action=seekdown" onclick="javascript:playerAction('seek_down');"><img src="images/seek_down.png" style="width: 32px;"/></a>
			<a href="#?page=playlist&action=seekup" onclick="javascript:playerAction('seek_up');"><img src="images/seek_up.png" style="width: 32px;"/></a>
			<a href="#?page=playlist&action=volumeup" onclick="javascript:playerAction('volumeup');"><img src="images/volume_high.png" style="width: 32px;"/></a>
			<a href="#?page=playlist&action=volumedown" onclick="javascript:playerAction('volumedown');"><img src="images/volume_low.png" style="width: 32px;"/></a>
		</div>
		<br/>
